---
import BaseLayout from "../layouts/BaseLayout.astro";
import StackCard from "../components/StackCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div class="text-5xl font-bold mb-10">Stack</div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Back-end</div>
  </div>

  <StackCard
    title="Java"
    img="/java.svg"
    badge="8 - 11 - 17 - 21"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="Spring Framework"
    img="/spring.svg"
    badge="Boot - Data - Security"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="JUnit 5"
    img="/junit.png"
    badge="Unit Tests"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="PHP"
    img="/php.svg"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="C++"
    img="/c++.svg"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Front-end</div>
  </div>

  <StackCard
    title="Vanilla Basics"
    img="/web.svg"
    badge="HTML - CSS - JS"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="Astro.js"
    img="/astro.svg"
   
  />
  <div class="divider my-0"></div>
  <StackCard
    title="Tailwind"
    img="/tailwind.svg"
  />

  <div>
    <div class="text-3xl w-full font-bold mt-10 mb-5">Databases</div>
  </div>

  <StackCard
    title="MongoDB"
    img="/mongo.svg"
    badge="NoSQL"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="PostgreSQL"
    img="/postgresql.svg"
    badge="SQL"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="Microsoft SQL Server"
    img="/sqlserver.svg"
    badge="SQL"
  />
  <div class="divider my-0"></div>
  <StackCard
    title="MySQL"
    img="/mysql.svg"
    badge="SQL"
  />
</BaseLayout>
